<div class="board">

  <div class="header-wordle">
    <div class="title">
      {{ type() === 'sequence' ? 'Séquence du jour' : 'Mot du jour' }}
    </div>
    <div class="date">
      {{ wordToFind()!.date | date: 'dd MMMM yyyy' }}
    </div>
  </div>

  <!-- Tentatives précédentes -->
  @for (a of dailyAttempts(); track $index) {
  <div class="row">
    @for (c of getLetters(a); let i = $index; track i) {
    <span class="cell" [class]="getColor(a, i)">
      {{ c }}
    </span>
    }

  </div>
  <!-- <span class="result small">{{ a.result }}</span> -->
  }

  @if(canAttempt()) {
  <!-- Tentative en cours -->
  <div class="row current">
    @for (letter of wordToFind()!.word.split(''); let i = $index; track i) {

    @if(i === 0)
    {<span class="cell fixed">
      {{ letter.toUpperCase() }}
    </span>}
    @else{
    <span class="cell">
      <!-- Masque vert semi-transparent -->
      @if(!typed[i - 1] && getMaskLetters()[i]){
      <span class="mask">{{ getMaskLetters()[i] }}</span>}
      <!-- Lettre tapée -->
      {{ typed[i - 1] || '' }}
    </span>}
    }
  </div>

  <button (click)="submit()" [disabled]="fullGuess.length !== wordToFind()!.word.length">
    Proposer
  </button>
  }

  @if (dailyAttempts().length >= maxGuesses && !isLastCorrect()) {
  <div class="small answer">
    Plus de tentatives disponibles. Le mot était: {{ wordToFind()!.word }}
  </div>
  }

  @if (errorMessage()) {

  <div class="small answer">
    {{ errorMessage() }}
  </div>
  }
</div>


@if (isLastCorrect() ) {
<div class="victory-message">

  @switch (type()) {
  @case ('daily') {
  🎉 BRAVO ! Tu as trouvé le mot du jour !

  } @case ('sequence') {
  🎉 BRAVO ! Tu as trouvé le mot du jour !

  } @case ('infinite') {
  🎉 BRAVO ! Tu peux essayer un nouveau mot !

  }

  }
</div>


}


<app-clavier-virtuel [letterStates]="keyboardStates()" (keyPress)="handleVirtualKey($event)"></app-clavier-virtuel>


<input #hiddenInput type="text" autocomplete="off" autocorrect="off" spellcheck="false" class="hidden-input" readonly />
