<div class="app">
  <h1>Sumot Dino !</h1>


  <div class="tabs-container" #tabsContainer>
    <div class="tabs">
      @for(tab of tabs; let i = $index; track $index) {
      <button class="tab-btn" [class.active]="activeTab === tab.key" (click)="activateTab(tab.key)">
        {{ tab.label }}
      </button>
      }
    </div>

    <div class="tab-underline" [style.left.px]="underlineLeft" [style.width.px]="underlineWidth"></div>
  </div>

  @switch (activeTab) {

  @case ('daily') {
  @if (ws.wordOfDaySignal(); as dailyWord) {
  <app-word-game type="daily" [wordToFind]="dailyWord">
  </app-word-game>
  }
  }

  @case ('sequence') {
  @if (ws.dailySequence(); as dailySequence) {
  <app-daily-sequence [listDailySequence]="dailySequence">
  </app-daily-sequence>
  }
  }

  @case ('infinite') {
  @if (ws.infiniteModeWord(); as infiniteWord) {
  <app-infinite-mode> </app-infinite-mode>
  }
  }

  }


  <div class="card">
    <app-achievements></app-achievements>
  </div>
</div>
<router-outlet></router-outlet>
