<div class="board">

  <div class="small">Mot du jour • {{ ws.wordOfDaySignal()!.date }}</div>
  <div style="height:12px"></div>

  <!-- Tentatives précédentes -->
  @for (a of attempts(); track $index) {
  <div class="row">
    @for (c of getLetters(a); let i = $index; track i) {
    <span class="cell" [class]="getColor(a, i)">
      {{ c }}
    </span>
    }

  </div>
  <!-- <span class="result small">{{ a.result }}</span> -->
  }

  @if(canAttempt()) {
  <!-- Tentative en cours -->
  <div class="row current">
    @for (letter of ws.wordOfDaySignal()!.word.split(''); let i = $index; track i) {
    @if(i === 0){
    <span class="cell fixed">
      {{ letter.toUpperCase() }}
    </span>}
    @else {
    <span class="cell">
      {{ typed[i - 1] || '' }}
    </span>
    }
    }
  </div>

  <button (click)="submit()" [disabled]="fullGuess.length !== ws.wordOfDaySignal()!.word.length">
    Proposer
  </button>
  }

  @if (attempts().length >= maxGuesses && !isLastCorrect()) {
  <div class="small answer">
    Plus de tentatives disponibles. Le mot était: {{ ws.wordOfDaySignal()!.word }}
  </div>
  }

  @if (errorMessage()) {

  <div class="small answer">
    {{ errorMessage() }}
  </div>
  }
</div>


@if (isLastCorrect() ) {

  <div class="victory-message">
    🎉 BRAVO ! Tu as trouvé le mot du jour !
  </div>

}


<app-clavier-virtuel [letterStates]="keyboardStates()" (keyPress)="handleVirtualKey($event)"></app-clavier-virtuel>


<input #hiddenInput type="text" autocomplete="off" autocorrect="off" spellcheck="false" class="hidden-input" readonly />
