<div class="achievements-container">
  <h3 class="title">Succès</h3>

  <div class="card">
    <h4 class="section-title">Mot du jour</h4>
    <div class="row">
      <span>Série actuelle :</span>
      <span>{{dailyStreak()?.currentStreak || 0}}</span>
    </div>
    <div class="row">
      <span>Meilleure série :</span>
      <span>{{dailyStreak()?.bestStreak || 0}}</span>
    </div>
    <div class="row">
      <span>Dernier succès :</span>
      <span>{{dailyStreak()?.lastSuccessDate | date:'dd MMMM yyyy'}}</span>
    </div>

    <h4 class="section-title">Séquence du jour</h4>
    <div class="row">
      <span>Série actuelle :</span>
      <span>{{sequenceStreak()?.currentStreak || 0}}</span>
    </div>
    <div class="row">
      <span>Meilleure série :</span>
      <span>{{sequenceStreak()?.bestStreak || 0}}</span>
    </div>
    <div class="row">
      <span>Dernier succès :</span>
      <span>{{sequenceStreak()?.lastSuccessDate | date:'dd MMMM yyyy'}}</span>
    </div>
  </div>
</div>
